body {
    background-color: #f9f6f2; 
    font-family: "Georgia", serif;
}
img {
    max-width: 100%;
    border-radius: 8px;
    opacity: 0.95;
    filter: grayscale(10%);
}
h1 {
    color: #4a4a4a; 
    font-size: 2.2em;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
}
p {
    color: #666;
    font-size: 1.1em;
    line-height: 1.7;
}
a {
    color: #8c735b;
    text-decoration: underline;
}

a:hover {
    color: #6b5846;
}

